<a href="https://colab.research.google.com/github/yongyogn/practice/blob/prac/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
data={"학번":range(2000,2010),'성적':[85,95,75,70,100,100,95,85,80,85]}
df=pd.DataFrame(data)
df
df=pd.DataFrame(data,columns=['성적','학번']) # 열 순서 지정가능
df
df=pd.read_csv('CARD_SUBWAY_MONTH_202102.csv',index_col=False)
df.head()
df.tail()
df.shape
df.describe()
#df.info()
df['노선명'].unique()
df['노선명'].value_counts()
df.sort_values(by='승차총승객수')
df.sort_values(by='승차총승객수',ascending=False)
df['노선명']
df[0:10]
df2=df.set_index('사용일자')
df2.iloc[1] # 1번행(두번째행) 출력 (인덱스 번호로 선택)
df2.loc[20210201] # 인덱스가 '20210201'인 행 출력 (인덱스 이름으로 선택), 중복이 있어서 오류가 나고 인덱스는 숫자형태로 되어있음
df[df['노선명']=='2호선'] # 노선명이 2호선인 행만 출력
df[df['승차총승객수']>=50000]
df.drop(0) # 0번 행 삭제
df.drop(['등록일자'],axis=1)
df['승차총승객수']+2 # 열 전체에 2씩 더하기
df['승하차총승객수차이']=df['승차총승객수']-df['하차총승객수']
df['승하차총승객수차이'].mean()
sample_df=df.sample(n=10) # 10개 비복원추출
sample_df
sample_df['노선명'].replace(['1호선','2호선','3호선','4호선'],['line1','line2','line3','line4'])

def getDate(d):
    d=str(d)
    year=d[0:4]
    month=d[4:6]
    day=d[6:8]
    return year+'-'+month+'-'+day

df['사용일자1']=df['사용일자'].apply(getDate)
df['사용일자1'].astype('datetime64')

df['승차총승객수'].apply(lambda x:x+2)
plus=lambda x: x+2
df['승차총승객수'].apply(plus)

dummies=pd.get_dummies(sample_df['노선명'],prefix='노선')
dummies

import numpy as np
data={'학번':range(2000,2010),
      '국어성적':[85,95,75,70,100,np.nan,95,85,80,85],
      '영어성적':[95,70,100,85,80,85,95,95,np.nan,70],
      '수학성적':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,95,np.nan,70]}
data=pd.DataFrame(data)
data

data.isna().sum()# 결측치 개수
data.fillna(0) # 결측치를 0으로 채우기
data['수학성적'].fillna(50,inplace=True) # 특정 열의 결측치만 변경
data.dropna() # 결측치있는 행 삭제

df=pd.read_csv('CARD_SUBWAY_MONTH_202102.csv',index_col=False)
df.groupby(['노선명']).mean() # 노선명 별 각 변수의 평균

df1=pd.DataFrame({'이름':['A','B','D'],'성별':['남자','여자','남자']})
df2=pd.DataFrame({'이름':['A','B','C'],'키':[180,160,150]})
pd.merge(df1,df2) # 이름 기준으로 병합, 같은 이름이 없는 행은 삭제
pd.merge(df1,df2,how='left') # 왼쪽에 있는 데이터(df1)의 데이터는 전부 포함, 오른쪽 데이터에 겹치는게 없다면 결측치로
pd.merge(df1,df2,how='right') # 오른쪽 기준
pd.merge(df1,df2,how='outer') # 모두 포함, 각 데이터와 기준열(이름)이 겹치지 않는 데이터는 결측치로

df1=pd.DataFrame({'이름':['A','B','C','D','E'],'키':[180,160,150,170,170],'나이':[23,46,33,65,28],'주소':['서울','부산','대전','원주','제주']})
df2=pd.DataFrame({'이름':['F','G','H','I','J'],'키':[190,180,150,160,170],'나이':[22,18,87,45,74],'주소':['전주','서울','수원','부산','인천']})
pd.concat([df1,df2]) # 행 병합
pd.concat([df1,df2],axis=1) # 열 병합, axis=0(행병합)이 default
df1.to_csv('dataframe.csv',encoding='euc-kr') # csv파일로 저장

In [33]:
import pandas as pd
from pandas_datareader import data
import yfinance as yfin
yfin.pdr_override()
df=data.get_data_yahoo('005930.KS',start='2020-01-01',end='2021-02-11')

# 종가 최대값
df['Close'].max
# 종가 최소값
df['Close'].min
#종가 평균
df['Close'].mean
#행 개수
df.shape[0]
#종가 열만 출력
df[['Close']]
#고가, 저가 열 두개 출력
df[['High','Low']]
#상위 3개 행만 출력
df.head(3)
#종가가 시가보다 높았던 행만 출력
df[df['Open']<df['Close']]
#종가 기준 가장 주가가 높았던 날
df.reset_index(inplace=True)
df.sort_values(by="Close").loc[0]['Date']
#종가 기준 주가가 90000원 이상이었던 날
df[df['Close']>90000]['Date']
#2021년 1월 15일의 데이터
df[df['Date']=='2021-01-15']
#2021년 1월 11일의 고가와 저가
df[df['Date']=='2021-01-11'][['High','Low']]
#데이터프레임의 100번재 데이터
df.iloc[[99]]
#데이터를 날짜 역순으로
df.sort_index(ascending=False)
#종가 데이터를 가격이 높은 순서대로
df.sort_values(by="Close",ascending=False)
#인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경
df.sort_index()
#컬럼명을 Date는 날짜로, High는 고가로, Low는 저가로
df.rename(columns={"Date":'날짜','High':'고가','Low':'저가'})
#날짜 컬럼 삭제
df.drop(columns=['Date'])
#diff 컬럼 생성, 종가와 시가 차이
df['diff']=df['Close']-df['Open'];df
#Data 값 파싱, Year, Month, Day 필드에 저장
df['Year']=[d.year for d in df['Date']]
df['Month']=[d.month for d in df['Date']]
df['Day']=[d.day for d in df['Date']]
df
#모든 데이터를 소수점 둘째자리까지
format=lambda x:'%.2f'%x
df.loc[:,'Open':].applymap(format)
#거래량 필드 생서으 세자리수마다 콤마
df['거래량']=df['Volume'].apply(lambda x:'{:,}'.format(x));df
#주가데이터를 월별로 그루핑,거래량의 평균값 표시
df['Volume'].groupby(df['Month']).mean()
#결측치 확인, 처리
df.isnull().sum()
df.dropna()
df.fillna({'High':90000,'Low':50000})
#12월 데이터와 11월 데이터를 별도로 만들고 하나의 데이터프레임으로 합치기
dec_df=df[df['Month']==12]
nov_df=df[df['Month']==11]
pd.concat([nov_df,dec_df])

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
206,2020-11-02,56400.0,57500.0,56000.0,57400.0,54703.820312,20489076,1000.0,2020,11,2,"20,489,076"
207,2020-11-03,57900.0,58900.0,57600.0,58800.0,56038.062500,14950919,900.0,2020,11,3,"14,950,919"
208,2020-11-04,58900.0,59000.0,57800.0,58500.0,55752.156250,21718561,-400.0,2020,11,4,"21,718,561"
209,2020-11-05,59000.0,60300.0,58800.0,60300.0,57467.605469,20639475,1300.0,2020,11,5,"20,639,475"
210,2020-11-06,60700.0,60800.0,59600.0,60100.0,57277.000000,16910230,-600.0,2020,11,6,"16,910,230"
211,2020-11-09,60700.0,60900.0,60100.0,60200.0,57372.304688,15892961,-500.0,2020,11,9,"15,892,961"
212,2020-11-10,60500.0,60500.0,59500.0,60200.0,57372.304688,19073552,-300.0,2020,11,10,"19,073,552"
213,2020-11-11,60700.0,61400.0,60400.0,61300.0,58420.636719,25628510,600.0,2020,11,11,"25,628,510"
214,2020-11-12,61000.0,61400.0,60700.0,61000.0,58134.722656,19800573,0.0,2020,11,12,"19,800,573"
215,2020-11-13,61300.0,63200.0,61000.0,63200.0,60231.386719,31508829,1900.0,2020,11,13,"31,508,829"
216,2020-11-16,64000.0,66700.0,63900.0,66300.0,63185.777344,36354334,2300.0,2020,11,16,"36,354,334"
217,2020-11-17,67000.0,67000.0,65600.0,65700.0,62613.957031,30204089,-1300.0,2020,11,17,"30,204,089"
218,2020-11-18,65700.0,66200.0,64700.0,64800.0,61756.234375,22963790,-900.0,2020,11,18,"22,963,790"
219,2020-11-19,64100.0,64800.0,63900.0,64600.0,61565.625000,16590290,500.0,2020,11,19,"16,590,290"
220,2020-11-20,63900.0,65200.0,63900.0,64700.0,61660.929688,15068682,800.0,2020,11,20,"15,068,682"
221,2020-11-23,64800.0,67800.0,64700.0,67500.0,64329.410156,27134398,2700.0,2020,11,23,"27,134,398"
222,2020-11-24,67900.0,69500.0,67000.0,67700.0,64520.015625,32158235,-200.0,2020,11,24,"32,158,235"
223,2020-11-25,67900.0,68300.0,66500.0,66600.0,63471.687500,32447065,-1300.0,2020,11,25,"32,447,065"
224,2020-11-26,66100.0,68000.0,66000.0,68000.0,64805.914062,19023323,1900.0,2020,11,26,"19,023,323"
225,2020-11-27,68000.0,68400.0,67600.0,68200.0,64996.523438,14063434,200.0,2020,11,27,"14,063,434"
226,2020-11-30,68400.0,68600.0,66700.0,66700.0,63566.988281,43811016,-1700.0,2020,11,30,"43,811,016"
227,2020-12-01,67100.0,68300.0,67100.0,67800.0,64615.320312,22327173,700.0,2020,12,1,"22,327,173"
228,2020-12-02,68400.0,69900.0,68300.0,69500.0,66235.468750,29703942,1100.0,2020,12,2,"29,703,942"
229,2020-12-03,70100.0,70500.0,69300.0,69700.0,66426.070312,23677989,-400.0,2020,12,3,"23,677,989"
230,2020-12-04,70400.0,72100.0,70100.0,71500.0,68141.515625,28130533,1100.0,2020,12,4,"28,130,533"
231,2020-12-07,72400.0,73500.0,71900.0,72900.0,69475.757812,28490496,500.0,2020,12,7,"28,490,496"
232,2020-12-08,72200.0,72900.0,71600.0,71700.0,68332.125000,25000338,-500.0,2020,12,8,"25,000,338"
233,2020-12-09,72100.0,73900.0,72000.0,73900.0,70428.789062,24077996,1800.0,2020,12,9,"24,077,996"
234,2020-12-10,72700.0,73800.0,72500.0,72900.0,69475.757812,39882928,200.0,2020,12,10,"39,882,928"
235,2020-12-11,73500.0,73800.0,73100.0,73400.0,69952.273438,18486672,-100.0,2020,12,11,"18,486,672"
236,2020-12-14,73600.0,74500.0,73200.0,73800.0,70333.492188,21510415,200.0,2020,12,14,"21,510,415"
237,2020-12-15,73800.0,74100.0,73300.0,73800.0,70333.492188,20863671,0.0,2020,12,15,"20,863,671"
238,2020-12-16,74100.0,74500.0,73400.0,73800.0,70333.492188,17512081,-300.0,2020,12,16,"17,512,081"
239,2020-12-17,73400.0,73700.0,72600.0,73300.0,69856.968750,24293214,-100.0,2020,12,17,"24,293,214"
240,2020-12-18,73300.0,73700.0,73000.0,73000.0,69571.062500,17613029,-300.0,2020,12,18,"17,613,029"
241,2020-12-21,73100.0,73400.0,72000.0,73000.0,69571.062500,20367355,-100.0,2020,12,21,"20,367,355"
242,2020-12-22,72500.0,73200.0,72100.0,72300.0,68903.953125,16304910,-200.0,2020,12,22,"16,304,910"
243,2020-12-23,72400.0,74000.0,72300.0,73900.0,70428.789062,19411326,1500.0,2020,12,23,"19,411,326"
244,2020-12-24,74100.0,78800.0,74000.0,77800.0,74145.593750,32502870,3700.0,2020,12,24,"32,502,870"
245,2020-12-28,79000.0,80100.0,78200.0,78700.0,75003.328125,40085044,-300.0,2020,12,28,"40,085,044"
246,2020-12-29,78800.0,78900.0,77300.0,78300.0,76500.109375,30339449,-500.0,2020,12,29,"30,339,449"
247,2020-12-30,77400.0,81300.0,77300.0,81000.0,79138.046875,29417421,3600.0,2020,12,30,"29,417,421"